:root {
  --color-primary: #7A778C;    /* Primary Color */
  --color-secondary: #F2EB8D;  /* Secondary Color */
  --color-accent: #000;     /* Accent Color */
  --color-warning: #F2785C;    /* Warning Color */
  --color-neutral: #A66F6F;     /* Neutral Color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Apply Roboto for body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; /* Apply Merriweather for headings */
}

.about-me-btn, .logo span {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat for logo and buttons */
}

/* App Container */
.App {
  position: relative;
  top: 65px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Navbar Styles */
.navbar {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--color-accent);
  color: white;
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50px;
  height: auto;
}

/* Nav Links Styles */
.nav-links {
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; /* Use Poppins for nav links */
  font-weight: 500; /* Semi-bold for emphasis */
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffdd57; /* Hover and active color */
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust the distance from the text */
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ffdd57; /* Underline color */
}

/* Theme Switch Styles */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-toggle {
  cursor: pointer;
}

/* Hero Section Styles */
.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background: linear-gradient(-10deg, white 25%, var(--color-accent) 25%);*/
  background: black;
  color: white;
  padding: 50px 20px;
  flex: 1;
  overflow: hidden;
}

/* About Section Styles */
.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background: linear-gradient(190deg, white 25%, var(--color-accent) 25%);*/
  background: black;
  color: white;
  padding: 50px 20px;
  flex: 1;
  flex-direction: row-reverse;
  overflow: hidden;
}

.project-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background: linear-gradient(190deg, white 25%, var(--color-accent) 25%);*/
  background: black;
  color: white;
  padding: 50px 20px;
  flex: 1;
  flex-direction: row-reverse;
  overflow: hidden;
}

/* Keyframe Animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  animation: fadeInRight 2s ease forwards;
}

.image-container {
  position: relative;
  animation: fadeInLeft 2s ease forwards;
}

.content-about {
  animation: fadeInRight 2s ease forwards;
}

.image-container-about {
  position: relative;
  animation: fadeInLeft 2s ease forwards;
}

.image-container img {
  background-color: white;
  border-radius: 50%;
  height: 550px;
  width: auto;
  object-fit: cover;
}

.image-container-about img {
  height: 550px;
  width: auto;
  object-fit: cover;
}

.content h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

button {
  background-color: transparent;
  border: none;
}

.about-me-btn {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1.1em;
  background-color: var(--color-neutral); /* Bright background color */
  color: white; /* Text color */
  border: none;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-weight: 600; /* Semi-bold text */
}

/* Button hover and active states */
.about-me-btn:hover {
  background-color: var(--color-accent); /* Change background on hover */
  color: var(--color-neutral); /* Change text color on hover */
}

.about-me-btn:active {
  transform: scale(0.95); /* Slight scale down on click */
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  transition: transform 0.3s ease; /* Smooth transition */
}

.hamburger-menu .bar {
  width: 30px; /* Slightly wider for better visibility */
  height: 3px;
  background-color: white;
  transition: all 0.3s ease; /* Smooth transition */
}

/* When menu is open, transform bars into an "X" */
.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Rotate and shift first bar */
}

.hamburger-menu.open .bar:nth-child(2) {
  transform: rotate(-45deg); /* Rotate and shift third bar */
}

.hamburger-menu.open .bar:nth-child(3) {
  opacity: 0; /* Hide the middle bar */
}

.about-section-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(190deg, white 25%, #6c4ab6 25%);
  color: white;
  padding: 50px 20px;
  flex: 1;
  flex-direction: row-reverse;
  overflow: hidden;
}

.image-container-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 600px;
}

.content-about h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.content-about p {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: justify;
}

/* Show hamburger menu on mobile */
@media (max-width: 900px) {
  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: -100%;
    height: 100vh;
    background-color: var(--color-accent);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    gap: 20px;
    width: 100%;
  }

  .nav-links.open {
    right: 0;
    z-index: 999;
  }

  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .theme-switch {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .hero-section {
    justify-content: space-evenly;
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }
  .about-section {
    justify-content: space-evenly;
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }
  .hero-section{
    gap: 10px;
  }

  .content h1 {
    font-size: 2.5em;
  }

  .content p {
    font-size: 1.2em;
  }

  .image-container img {
    height: 450px;
  }
  .image-container-about img {
    height: 350px;
  }
  .about-section {
    flex-direction: column;
    /*background: linear-gradient(-22deg, white 3%, var(--color-accent) 25%);*/
  }
  .project-container {
    max-width: 90%;
    margin: 0 auto; /* Center the cards on smaller screens */
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adds space between the project cards */
  padding: 20px;
}

/* Define the keyframes for the entrance effect */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

/* Apply the animation to .project-container */
.project-container {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  animation: fadeInUp 0.8s ease forwards; /* Apply the animation */
}

/* Optionally: staggered effect for multiple project containers */
.project-container:nth-child(odd) {
  animation-delay: 0.2s; /* Delay for odd items */
}

.project-container:nth-child(even) {
  animation-delay: 0.4s; /* Delay for even items */
}

.project-container:hover {
  transform: scale(1.05); /* Adds a slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures images look good */
}

.project-title {
  background-color: #fff;
  padding: 16px;
  text-align: center;
}

.project-content {
  padding: 16px;
  background-color: #f9f9f9;
  text-align: center;
}

.project-link {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.project-link a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1em;
}

.project-link a:hover {
  background-color: #0056b3;
  transform: translateY(-3px); /* Adds a slight lift effect on hover */
}